@page
@model IBAS.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "Contact Info";
}

<div class="text-center">
    <h1>IBAS-Kantinen</h1>
</div>

<p></p>

<div class="text-center">
    <h3>Kontakt</h3>
    <p>Karen Koch Andersen</p>
    <p>kka@ibas.dk</p>
    <p>Tlf: 83467292</p>
</div>
