@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using IBAS.MenuApp.Model

<div class="text-center">
    <h1 class="display-4">IBAS Kantinen</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <th>Ugedag</th><th>Varm ret</th><th>Kold ret</th>
                @foreach (MenuItemDTO item in Model.MenuItems)
                {
                    <tr>
                        <td>@item.DOW</td>
                        <td>@item.WarmDish</td>
                        <td>@item.ColdDish</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

